node_modules/
dist/
.pnpm-store/
coverage/
runs/
*.tsbuildinfo
apps/**/public/
apps/**/dist/
packages/**/dist/
infra/
pnpm-lock.yaml
*.md
*.txt
*.log
*.csv
*.yml
*.yaml
.gitignore
.env*
LICENSE
*.config.js
eslint.config.js
.github/
docs/
seeds/
*.prisma
